---
---

@import "{{ site.theme }}";

header h1,
footer span.ribbon-inner a {
  text-transform: unset !important;
}

footer span.ribbon-inner a {
  font: inherit;
  position: unset;
  bottom: unset;
}
